<html><head>
<meta charset="UTF-8">
<meta name="x5-fullscreen" content="true">
<meta name="full-screen" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<title>新东方TPS系统</title> 
<script type="text/javascript" async="" src="http://dn-growing.qbox.me/vds.js"></script><script>var ctx = '/gwots';</script>

<!-- 获取常量引用版本 -->

<!-- 开启使用CDN -->


<link href="/thinkphp5/public/static/tps/css/iconfont.css" rel="stylesheet" type="text/css">
<link href="/thinkphp5/public/static/tps/css/style.css?v=201810231830" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/thinkphp5/public/static/js/jquery-3.2.1.min.js"></script>

</head>
<body>
    <div class="header"><div class="w1000 cf">
    <!-- <a href="#" class="t-logo"> --> 
    <span class="t-logo">
        <img src="/thinkphp5/public/static/tps/img/xdf-1.jpg" alt="新东方">
    </span>
    <!-- </a> -->
    <div class="t-cities accessType">
                <!-- 当没有paperSchName，因为不知道显示那个学校，所以不显示 -->
                <!-- <a href="javascript:;"></a> -->
    </div>
    <div class="t-log accessType">
    </div>
</div></div>


    <div class="w1000 cf">
        <div class="crump">
            <a href="/gwots/otstest/home/index">首页</a>&gt;均值不等式
        </div>
        <div class="wl" id="paperContainer">
            <div class="test-tip t-go">
                <p class="cr">{$common_info.firsr_one}</p>
                <p>{$common_info.firsr_two}</p>
            </div>
        </div>
        <div class="wr">
            <div class="more"></div>
            <div class="imgPub">
                <img src="/thinkphp5/public/static/tps/img/a1.jpg" alt="">
            </div>
        </div>
    </div>

<div id="cli_dialog_div"></div></body></html>