	<table border="0" cellspacing="0" cellpadding="0" class="rptbl1">
		<tbody>
			<tr>
				<th>题号</th>
				<th>正确答案</th>
				<th>平均正确率</th>
				<th>答题状况</th>
			</tr>
				<tr style="line-height:5px">
					<td style="color:#00BA97;text-align:left;">选择题</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
						<tr>
							<td style="line-height:5px;height:5px;" subjectid="C8D95E42-E978-4BD5-8286-6E980B4F5920">1</td>
								<td style="line-height:5px;height:5px;">
									B
								</td>
							<td style="line-height:5px;height:5px;">77.03%</td>
							<td style="line-height:5px;height:5px;">
								<a href="javascript:void(0);" onclick="paperStatistics.showSubjectDetial('57', '17')" style="color:#00BA97;">详情</a>
							</td>
						</tr>
						<tr>
							<td style="line-height:5px;height:5px;" subjectid="535729C4-4D29-4245-B3F7-1A84C6114C47">2</td>
								<td style="line-height:5px;height:5px;">
									B
								</td>
							<td style="line-height:5px;height:5px;">78.38%</td>
							<td style="line-height:5px;height:5px;">
								<a href="javascript:void(0);" onclick="paperStatistics.showSubjectDetial('58', '16')" style="color:#00BA97;">详情</a>
							</td>
						</tr>
						<tr>
							<td style="line-height:5px;height:5px;" subjectid="9F124748-7CA0-42D6-AD64-84C4A2A8533B">3</td>
								<td style="line-height:5px;height:5px;">
									C
								</td>
							<td style="line-height:5px;height:5px;">39.19%</td>
							<td style="line-height:5px;height:5px;">
								<a href="javascript:void(0);" onclick="paperStatistics.showSubjectDetial('29', '45')" style="color:#00BA97;">详情</a>
							</td>
						</tr>
						<tr>
							<td style="line-height:5px;height:5px;" subjectid="E68F88E7-F73D-4ABE-90B7-17BCBA1F4EE8">4</td>
								<td style="line-height:5px;height:5px;">
									C
								</td>
							<td style="line-height:5px;height:5px;">66.22%</td>
							<td style="line-height:5px;height:5px;">
								<a href="javascript:void(0);" onclick="paperStatistics.showSubjectDetial('49', '25')" style="color:#00BA97;">详情</a>
							</td>
						</tr>
						<tr>
							<td style="line-height:5px;height:5px;" subjectid="9F2EC482-3D2C-4568-A5A8-CE62298723C2">5</td>
								<td style="line-height:5px;height:5px;">
									B
								</td>
							<td style="line-height:5px;height:5px;">62.16%</td>
							<td style="line-height:5px;height:5px;">
								<a href="javascript:void(0);" onclick="paperStatistics.showSubjectDetial('46', '28')" style="color:#00BA97;">详情</a>
							</td>
						</tr>
						<tr>
							<td style="line-height:5px;height:5px;" subjectid="34BBA40C-E40C-46CC-BE77-0F35CD5F1285">6</td>
								<td style="line-height:5px;height:5px;">
									C
								</td>
							<td style="line-height:5px;height:5px;">41.89%</td>
							<td style="line-height:5px;height:5px;">
								<a href="javascript:void(0);" onclick="paperStatistics.showSubjectDetial('31', '43')" style="color:#00BA97;">详情</a>
							</td>
						</tr>
						<tr>
							<td style="line-height:5px;height:5px;" subjectid="3CAE524C-167A-4E5A-8C5E-798DF0013ECC">7</td>
								<td style="line-height:5px;height:5px;">
									B
								</td>
							<td style="line-height:5px;height:5px;">50.0%</td>
							<td style="line-height:5px;height:5px;">
								<a href="javascript:void(0);" onclick="paperStatistics.showSubjectDetial('37', '37')" style="color:#00BA97;">详情</a>
							</td>
						</tr>
						<tr>
							<td style="line-height:5px;height:5px;" subjectid="11796670-1042-4CD1-AA2D-2C6FFCB83E87">8</td>
								<td style="line-height:5px;height:5px;">
									A
								</td>
							<td style="line-height:5px;height:5px;">63.51%</td>
							<td style="line-height:5px;height:5px;">
								<a href="javascript:void(0);" onclick="paperStatistics.showSubjectDetial('47', '27')" style="color:#00BA97;">详情</a>
							</td>
						</tr>
						<tr>
							<td style="line-height:5px;height:5px;" subjectid="F36804E7-34D6-4E14-A825-DD833A8E1E29">9</td>
								<td style="line-height:5px;height:5px;">
									B
								</td>
							<td style="line-height:5px;height:5px;">68.92%</td>
							<td style="line-height:5px;height:5px;">
								<a href="javascript:void(0);" onclick="paperStatistics.showSubjectDetial('51', '23')" style="color:#00BA97;">详情</a>
							</td>
						</tr>
						<tr>
							<td style="line-height:5px;height:5px;" subjectid="1264CFF6-B7CA-4FD2-9B22-53AA1B86505E">10</td>
								<td style="line-height:5px;height:5px;">
									B
								</td>
							<td style="line-height:5px;height:5px;">62.16%</td>
							<td style="line-height:5px;height:5px;">
								<a href="javascript:void(0);" onclick="paperStatistics.showSubjectDetial('46', '28')" style="color:#00BA97;">详情</a>
							</td>
						</tr>
		</tbody>
	</table>