
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>预约考场</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- 引入微信SDK -->
    <link href="/public/static/tps/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/public/static/tps/css/iconfont.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/public/static/js/jquery-3.2.1.min.js"></script>
    <style>
        body {
            height:auto;
            max-height:inherit;
        }
        #mask {
            background: rgba(153, 153, 153,0) none repeat scroll 0 0 !important;
            filter: Alpha(opacity=0);
            background: #999;
            text-align: center;
            z-index: 10;
            position: absolute;
        }
        #mask img {
            display: inline-block;
            position: relative;
        }

        .m-buttons button.active {
            background-color: #fdac38;
            color: #fff;
        }
        .m-buttons button {
            border: 1px solid #fdac38;
            border-radius: 3px;
            color: #fdac38;
            display: block;
            font-size: 14px;
            height: 46px;
            line-height: 46px;
            margin: 0 auto 10px;
            text-align: center;
            width: 330px;
            cursor: pointer;
        }
    </style>
    <script>
        $(function(){

            $('#newStuFlag').click(function(){
                setNewStuFlag();
            });

            $('#oldStuFlag').click(function(){
                setOldStuFlag();
            });

            function setNewStuFlag(){
                $('#studentNo').val('XS').attr('disabled','disabled');
                $('#teacherName').val('XDF').attr('disabled','disabled');
                $('#newStudent').val('1');
            }

            function setOldStuFlag(){
                if($('#studentNo').val() == 'XS'){
                    $('#studentNo').val($('#studentNo').attr('value2'));
                }
                $('#studentNo').removeAttr('disabled');

                if($('#teacherName').val() == 'XDF'){
                    $('#teacherName').val($('#teacherName').attr('value2'));
                }
                $('#teacherName').removeAttr('disabled');

                $('#newStudent').val('0');
            }
        })
    </script>
</head>
<body>
<div class="header">
    <div class="w1000 cf">
        <!-- 手机号+姓名形式查询，不显示LOGO -->
        <!-- U2登录方式查看报告 -->
        <a href="#" class="t-clogo" style="cursor:default;">
            <img src="/public/static/tps/img/xdf-1.jpg" alt="新东方" align="absbottom" />
            测试1
        </a>
        <div class="t-cities accessType">
        </div>
        <div class="t-log accessType">
            <!-- 手机号+姓名查询，不显示登录注册 -->
            <!-- 角色类型为学员，显示U2返回的用户信息 -->
            <span class="user l">欢迎,180316151108713_v</span>
            <a href="/gwots/wrcweb/passport/logout" class="btn btn-e r"  style="margin-left:20px;">退出</a>
        </div>
    </div>		</div>
<div class="w1000 cf">
    <a href="/gwots/wrcweb/passport/logout" class="f-exit"></a>
    <div class="crump">
    </div>
    <div class="wl">
        <div class="m-error" style="display:none;">
            <i class="iconfont"></i><span style="font-weight:700; font-size:16px;color: red; padding:5px;">错误信息提示</span>
        </div>
        <div class="g-wp">
            <div class="m-form1">
                <h2>同学，您好！</h2>
                <div class="frm1 int-sl">
                        <span class="frm-tit">电话</span>
                        <input type="text"  maxlength="11" onkeyup="value=value.replace(/[^\d]/g,'')" onblur="value=value.replace(/[^\d]/g,'')" class="input_num" name="tel" id="tel" value="" /><span style="color:red;">*</span>
                </div>
            </div>

            <div class="m-form1 cf">
                <div class="frm1 int-sl">
                    <span class="frm-tit">姓名</span>
                    <input type="text" class="input_num" name="studentName" id="studentName" value="" /><span style="color:red;">*</span>
                </div>

                <!-- TODO 按照新的需求,在通过大数据获取学员号以后,如果学员号存在,并且不为XS,则认为是老生-->
                <div class="frm1" id="studentTypeDiv">
                    <span class="frm-tj"><input type="radio" class="input_valign" name="stuFlag" id="newStuFlag" value="1" />新生</span>
                    <span class="frm-tj" style="margin-left:120px;"><input type="radio" checked = "checked" class="input_valign" name="stuFlag" id="oldStuFlag" value="2" />新东方学员</span>
                    <p class="note">
                        选项说明：此处为单选，若选中新生，则学员号自动输入"XS",推荐老师自动输入"XDF"
                    </p>
                </div>

                <div class="frm1 int-sl" id="studentNoDiv">
                    <span class="frm-tit">学员号</span>
                    <input type="text" class="input_num" name="studentNo" onkeyup="value=value.replace(/[^\d]/g,'')" onblur="value=value.replace(/[^\d]/g,'')" id="studentNo" value=""/>
                    <span style="color:red;">*</span>
                </div>

                <div class="frm1 int-sl" id="teacherDiv">
                    <span class="frm-tit">推荐老师</span>
                    <input type="text" class="input_num" name="teacherName" id="teacherName" value="" />
                    <span style="color:red;">*</span>
                </div>
                <!-- 学员身份证号(不分配考场座次时，收集身份证号) -->

                <div class="frm1 int-sl" id="ownCollegeDiv">
                    <span class="frm-tit">就读公立校</span>
                    <input type="text" class="input_num" name="ownCollege" id="ownCollege" value="" />
                    <span style="color:red;">*</span>
                    <p class="note">
                        填写范例： 松柏小学六年级2班
                    </p>
                </div>

            </div>

            <div class="m-form1" id="grade_campus">
                <dl class="frm-cj" id="grade">
                    <dt>请选择你要诊断的年级信息</dt>
                    <dd>
                        <span class="grade" gradeID="1" >一年级</span>
                        <span class="grade" gradeID="2" >二年级</span>
                        <span class="grade" gradeID="3" >三年级</span>
                        <span class="grade" gradeID="4" >四年级</span>
                        <span class="grade" gradeID="5" >五年级</span>
                        <span class="grade" gradeID="6" >六年级</span>
                    </dd>
                </dl>

                <dl class="frm-cj" id="campus" style="display:none;">
                    <dt>请选择诊断所在区</dt>
                    <dd>
                        {volist  name = "dq" id = "vv"}
                        <span class="campus" campusID="{$vv.qy}">{$vv.qy_name}</span>
                        {/volist}
                    </dd>
                </dl>

                <dl class="frm-cj" id="smallCampus" style="display: none;">
                    <dt>请选择校区</dt>
                    <dd id="smallCampu">
                    </dd>
                </dl>

                <dl class="frm-cj" id="yuyuerqs" style="display: none;">
                    <dt>预约日期</dt>
                    <dd id="yuyuerq">


                    </dd>
                </dl>

                <dl class="frm-cj" id="yuyuesjs" style="display: none;">
                    <dt>预约时间</dt>
                    <dd id="yuyuesj">


                    </dd>
                </dl>

                <dl class="frm-cj" id="papertests" style="display: none;">
                    <dt>选择考卷名称</dt>
                    <dd id="papertest">
                    </dd>
                </dl>

            </div>
            <div class="m-buttons">
                <button href="javascript:void(0);" class="active" id="apply">预约</button>
                <!--
                <a href="/gwots/wrcweb/amt/detail">已经预约!点击查看预约信息</a>
                -->
            </div>
        </div>
    </div>
    <div class="wr">
        <div class="imgPub">
            <img src="/public/static/tps/img/a1.jpg" alt="" />
            <img src="/public/static/tps/img/a2.jpg" alt="" />
        </div>
    </div>
</div>
</body>
<input type="hidden" id="matchID" value="30EB99BE-EF5D-4624-BBD2-FF1172E2A832">
<input type="hidden" id="newStudent" value="1">
<input type="hidden" id="smallCampusID" value="">
</html>

<script>
    //年级点击
    $(function(){
        $('.grade').click(function(){
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
            $('#campus').css('display','block');
            $('#campus .campus').removeClass('active');
            $('#smallCampus').css('display','none');
            $('#yuyuerqs').css('display','none');
            $('#yuyuesjs').css('display','none');
            $('#papertests').css('display','none');
        });
    });
    //所在大区点击
    $(function(){
        $('.campus').click(function(){
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
            $('#smallCampus .campus').removeClass('active');
            $('#yuyuerqs').css('display','none');
            $('#yuyuesjs').css('display','none');
            $('#papertests').css('display','none');
            var qy = $(this).attr('campusID');
            $.ajax({
                type: "get",
                dataType: "json",
                url: "/index.php/web/tpsappointment/get_dq_children",
                data: {'id':qy},
                success: function (data) {
                    if(data){
                        var ss = '';
                        for(var i = 0;i < data.length;i++){
                            ss +='<span onclick = "smallCampus(this)" campusid="'+data[i].qy+'" class="smallCampus">'+data[i].qy_name+'<i class="iconfont"></i></span>';
                        }
                        $('#smallCampus').css('display','block');
                        $('#smallCampu').html(ss);
                        $('#papertests').css('display','none');
                    }
                },
            });
        });
    });

    //所在学区点击
    function smallCampus(obj){
        $(obj).siblings().removeClass('active');
        $(obj).addClass('active');
        $('#yuyuerqs .campus').removeClass('active');
        $('#yuyuesjs').css('display','none');
        $('#papertests').css('display','none');
        var xq = $(obj).attr('campusid');
        var nianji = $('.frm-cj .grade.active').attr('gradeID');
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/index.php/web/tpsappointment/get_rq",
            data: {'xq':xq,'nianji':nianji},
            success: function (data) {
                if(data){
                    var ss = '';
                    for(var i = 0;i < data.length;i++){
                        /* ss +='<li onclick = "ss(this)"><a href="javascript:void(0);"  svalue="'+data[i].qy+'" title="">'+data[i].qy_name+'</a></li>';*/
                        ss +='<span onclick = "yuyuerq(this)" campusid="'+data[i][0]+'" class="smallCampus">'+data[i][0]+'<i class="iconfont"></i></span>';
                    }
                    $('#yuyuerqs').css('display','block');
                    $('#yuyuerq').html(ss);
                }else{
                    alert('没有对应的考试时间')
                }
            },
        });
    }

    //预约日期点击
    function yuyuerq(obj){
        $(obj).siblings().removeClass('active');
        $(obj).addClass('active');
        var rq = $(obj).attr('campusid');
        var nianji = $('.frm-cj .grade.active').attr('gradeID');
        var xq = $('#smallCampus .active').attr('campusid');
        $('#yuyuesjs .campus').removeClass('active');
        $('#papertests').css('display','none');
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/index.php/web/tpsappointment/get_sj",
            data: {'xq':xq,'nianji':nianji,'ks_rq':rq},
            success: function (data) {
                if(data){
                    var ss = '';
                    for(var i = 0;i < data.length;i++){
                        /* ss +='<li onclick = "ss(this)"><a href="javascript:void(0);"  svalue="'+data[i].qy+'" title="">'+data[i].qy_name+'</a></li>';*/
                        ss +='<span onclick = "yuyuedata(this)" campusid="'+data[i][0]+'" class="smallCampus">'+data[i][0]+'<i class="iconfont"></i></span>';
                    }
                    $('#yuyuesjs').css('display','block');
                    $('#yuyuesj').html(ss);
                }
            },
        });
    }

    //预约时间点击
    function yuyuedata(obj){
        $(obj).siblings().removeClass('active');
        $(obj).addClass('active');
        var sj = $(obj).attr('campusid');
        var nianji = $('.frm-cj .grade.active').attr('gradeID');
        var xq = $('#smallCampus .active').attr('campusid');
        var rq = $('#yuyuerqs .active').attr('campusid');
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/index.php/web/tpsappointment/get_papertest",
            data: {'xq':xq,'nianji':nianji,'ks_rq':rq,'ks_data':sj},
            success: function (data) {
                if(data){
                    var ss = '';
                    for(var i = 0;i < data.length;i++){
                        ss +='<span onclick = "papertest(this)" campusid="'+data[i][1]+'" class="smallCampus">'+data[i][0]+'<i class="iconfont"></i></span>';
                    }
                    $('#papertests').css('display','block');
                    $('#papertest').html(ss);
                }
            },
        });
    }

    //预约考试点击
    function papertest(obj){
        $(obj).siblings().removeClass('active');
        $(obj).addClass('active');
    }

    $('#apply').click(function(){
        var tel = $.trim($('input[name="tel"]').val());
        //学员姓名
        var student_name = $('input[name="studentName"]').val();
        if(student_name == ''){
            showMsg("请填写姓名");
            return;
        }
        if(studentName.length > 20){
            showMsg("姓名长度不能大于20");
            return;
        }
        //学员号
        var studentNo = $.trim($('input[name="studentNo"]').val());
        //推荐老师
        var teacherName = $('input[name="teacherName"]').val();
        //就读公立学校
        var ownCollege = $('input[name="ownCollege"]').val();
        if(ownCollege == ''){
            showMsg("请填写公立校班级");
            return;
        }

        if(ownCollege.length > 30){
            showMsg("公立校班级长度不能大于30");
            return;
        }
        //所属状态
        var status = $('input[name="stuFlag"]:checked').val();
        console.log(status);

        //检测---收集学员号、推荐老师信息
        if (status == 2){

            if(studentNo == ''){
                showMsg("请填写学员号");
                return;
            }

            if(studentNo.length > 20){
                showMsg("学员号长度不能大于20");
                return;
            }

            if(teacherName == ''){
                showMsg("请填写推荐老师");
                return;
            }

            if(teacherName.length > 20){
                showMsg("推荐老师姓名长度不能大于20");
                return;
            }
        }


        var gradeObj = $('#grade').find('span.active');
        var campusObj = $('#campus').find('span.active');
        var smallCampusObj = $('#smallCampus').find('span.active');
        var rqObj = $('#yuyuerqs').find('span.active');
        var dataObj = $('#yuyuesjs').find('span.active');
        var papertestsObj = $('#papertests').find('span.active');
        if(gradeObj.length == 0){
            showMsg('请选择年级');
            return;
        }

        if(campusObj.length == 0){
            showMsg('请选择大区');
            return;
        }

        if(smallCampusObj.length == 0){
            showMsg('请选择校区');
            return;
        }

        if(rqObj.length == 0){
            showMsg('请选择日期');
            return;
        }

        if(dataObj.length == 0){
            showMsg('请选择时间');
            return;
        }

        if(papertestsObj.length == 0){
            showMsg('请选择考卷名称');
            return;
        }
        var gradeID = gradeObj.attr('gradeID');
        var campusPID = campusObj.attr('campusID');
        var campusID = smallCampusObj.attr('campusID');
        var rqID = rqObj.attr('campusid');
        var dataID = dataObj.attr('campusid');
        var papertest = papertestsObj.attr('campusID');


        var data = {};
        data.nianji = gradeID;
        data.dq = campusPID;
        data.xq = campusID;
        data.rq = rqID;
        data.data = dataID;
        data.evaluate_paper_id = papertest;

        data.tel = tel;
        data.student_name = student_name;
        data.school = ownCollege;
        data.student_status = status;


        if (status == 2){
            data.status = 2;
            data.student_num = studentNo;
            data.recommend_teacher = teacherName;
        } else {
            data.newStudent = 0;
            data.studentNo = "XS";
            data.teacher = "XDF";
        }
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/index.php/web/tpsappointment/to_appointment",
            data: data,
            success: function (data) {
                if(data.res == 0){
                   alert('预约位置已经满了!');

                }else if(data.res == 1){
                    alert('预约成功！');
                    window.location.href = "/index.php/web/tpsappointment/studentment?zhunkaonum="+data.zhunkaonum+"&tel="+data.tel+"&student_name="+data.student_name;
                }else if(data.res == 2 || data.res == 3){
                    alert('预约失败!');
                }else if(data.res == 4){
                    alert('同一场考试,一个手机号码只能预约一次');
                }
            },
        });
    });




    function showMsg(msg){
        $(".m-error").show().find("span").html(msg);
        $(window).scrollTop(0);
    }



</script>