<html><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>新东方数学四年级•寒春分...</title>

    <link rel="stylesheet" href="/public/static/tps/css/re_iconfont.css" type="text/css" />
    <link rel="stylesheet" href="/public/static/tps/css/style201804121630.css"  type="text/css" />
</head>

<body>
<div class="header">
    <div class="w1000 cf">
        <a href="#" class="t-logo">
            <img src="/public/static/tps/img/xdf-1.jpg" alt="新东方">
        </a>
        <div class="t-cities accessType">
            <!-- 当没有paperSchName，因为不知道显示那个学校，所以不显示 -->
            <!-- <a href="javascript:;">武汉新东方</a> -->
        </div>
        <div class="t-log accessType">
            <span class="user l">欢迎,2323132</span>
            <a href="/gwots/otstest/paper/userindex" class="btn btn-s  ml5">查看诊断历史</a>
            <a href="/gwots/otstest/passport/logout" class="btn btn-e r">退出</a>
        </div>
    </div>		</div>
<div class="w1000 cf">
    <div class="crump">
        <a href="/gwots/testprocess/control/step?testId=2E250D58-528E-48CA-8329-ACD90D080B85&amp;moduleType=report&amp;clientType=pc&amp;paperId=E0DFE797-09F3-4A95-8154-FDB6EF0C7489&amp;type=&amp;ext=roleType@teacher">返回诊断报告</a><i class="iconfont">&gt;</i>新东方数学四年级•寒春分班测
    </div>
    <div id="reportContent">
        <div class="wl">
            <div class="wx-paperstatic">
                <div class="wx-pmount">
                    <div class="wx-cir">
                        <span class="wx-big">1</span>/10
                    </div>
                    <p>共作答{$zq}道题</p>
                </div>
                <div class="wx-time">
                    <div class="wx-cir">
                        30:00
                    </div>
                    <p>{$grade}分</p>
                </div>
            </div>
            <div style="padding:20px 0 0px 0px;color:orange;font-weight:bold;width:100%;text-align:center;font-size:14px"><h2>提示：点击题号查看试题详情</h2></div>


            {volist name = "student_report" id = "ss" key = "k"}
            <div class="wx-serialtit">
                <h2>{$ss.point_title}</h2>
            </div>

            <div class="wx-circlenum">
                {volist name = "ss.num_pd" id = "nd" key = "kd"}
                <div class="wx-cirn {if condition="($nd == 0)"}  wx-error  {else} wx-ok {/if}">
                    <a href="/gwots/testprocess/testing/subject?testID=2E250D58-528E-48CA-8329-ACD90D080B85&amp;subjectID=C8D95E42-E978-4BD5-8286-6E980B4F5920&amp;smallSubjectID=C8D95E42-E978-4BD5-8286-6E980B4F5920&amp;type=&amp;ext=roleType@">{$kd}</a>
                    {if condition="($nd == 0)"}
                            <span class="iconfont"></span>
                    {else}
                            <span class="iconfont"></span>
                    {/if}
                </div>



                {/volist}
            </div>
            {/volist}




        </div>
        <div class="wr">
            <div class="more">
                <h2>更多诊断</h2>
                <ul class="test-list">
                    <li>没有更多诊断内容</li>
                </ul>
            </div>
            <div class="imgPub">
                <img src="/public/static/tps/img/a1.jpg" alt="">
            </div>
        </div>
    </div>
</div>


<div id="cli_dialog_div"></div>
</body>
</html>