<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<title>新东方TPS系统</title>
<link href="/thinkphp5/public/static/tps/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/thinkphp5/public/static/tps/css/iconfont.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" href="/swiper/dist/css/swiper.min.css">
<script type="text/javascript" src="/thinkphp5/public/static/js/jquery-3.2.1.min.js"></script>
<script src="/swiper/dist/js/swiper.min.js"></script>

</head>
<body>
<div class="header">
	<div class="w1000 cf">
		<!-- 跳转首页 -->
		<!-- <a id="logo_img" href="#" class="t-logo"> --> 
		<span class="t-logo">
			<img src="/thinkphp5/public/static/tps/img/xdf-1.jpg" alt="新东方">
		</span>
		<!-- </a> -->
		<div class="t-cities accessType"></div>
			<!-- 学员查看报告, 显示登录、注册按钮 -->
		{if condition="($redata.isok == 1)"}	
		<div class="t-log accessType">
			&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="user l">欢迎,{$redata.tel}&nbsp;&nbsp;&nbsp;&nbsp;</span>	
					<a href="/thinkphp5/tps.php/web/report/pc_report_list" class="btn btn-s  ml5">查看诊断历史</a>
					<a href="/thinkphp5/tps.php/web/report/log_out" class="btn btn-e r">退出</a>
		</div>
		{else /}
				<a href="/thinkphp5/tps.php/web/tpsstudent/student_login.html" class="btn btn-s">登录</a>
				<a href="/thinkphp5/tps.php/web/tpsstudent/register" class="btn btn-e">注册</a>
		{/if}
	</div>		
</div>	

<div class="w1000 cf">
	<div class="content">
		<div class="loop">
		    <a class="arrow-left" href="#"></a> 
		    <a class="arrow-right" href="#"></a>
		    <div class="swiper-container" style="cursor: -webkit-grab;">

		        <div class="swiper-wrapper" style="width: 3020px; height: 284px; transform: translate3d(-1510px, 0px, 0px); transition-duration: 0.3s;">

			        <div class="swiper-slide" style="width: 755px; height: 284px;"> <img src="/thinkphp5/public/static/tps/img/l2.jpg"></div>

			        <div class="swiper-slide" style="width: 755px; height: 284px;"><img src="/thinkphp5/public/static/images/login_background.jpg""></div>

			        <div class="swiper-slide" style="width: 755px; height: 284px;"> <img src="/thinkphp5/public/static/tps/img/l1.jpg"></div>

			        <div class="swiper-slide" style="width: 755px; height: 284px;"> <img src="/thinkphp5/public/static/images/logo.jpg"></div>

	  			</div>

	  			<div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
    			<div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></div>

	    	</div>
    	</div>
	    <h2 class="title"> 
	    	测评流程
	    </h2>
	    <ul class="progress cf">
	       <li class="cir">
	       	  <span class="c-icn ci1"></span>
	       	  <p>选择测评</p>
	       </li>
	       <li class="line">
	       	
	       </li>
	       <li class="cir m">
	       	   <span class="c-icn ci2"></span>
	       	  <p>开始答题</p>
	       </li>
	       <li class="line">
	       	
	       </li>
	       <li class="cir m">
	       	   <span class="c-icn ci3"></span>
	       	   <p>注册登陆</p>
	       </li>
	       <li class="line">
	       	
	       </li>
	       <li class="cir m">
	       	    <span class="c-icn ci4"></span>
	       	   <p>查看报告(TESTING)</p>
	       </li>
	       
	    </ul>

	</div>
</div>
	
<div id="cli_dialog_div"></div>
</body>
</html>
<script>
 var swiper = new Swiper('.swiper-container', {
      //两张图片之间的间距
      spaceBetween: 200,
      speed:1000,
     // centeredSlides: true,
      //slidesPerView:1,  
      //自然轮转跳转

      loop : true,

      //强制加载所有图片
       preloadImages:true,

      roundLengths : true, 

     //开始时候的位置
      initialSlide :0,    
      //横向或者纵向滑动
      //direction : 'vertical',//horizontal 
      //自动播放  auto为自动轮播的时间间隔 
      autoplay: {
        delay: 2000,
        disableOnInteraction: false,
      },
      //手机端停止滚动
      //autoplayStopOnLast: true,
      //下面导航的图像
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      //图标
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      on: {
            slideChange: function () {
            console.log(this.activeIndex);
            },
          },
      

    });
</script>