<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
	<meta name="viewport" content="target-densitydpi=device-dpi,width=400,user-scalable=0">
    <meta name="keywords" content="新东方,新东方少儿英语,新东方国际教育,幼儿英语培训,少儿英语培训,儿童英语培训,绘本阅读">
    <meta name="description" content="新东方STEAM国际教育是新东方英语学校集团旗下的少儿英语培训、幼儿英语培训、儿童英语培训教育品牌">
	<title>新东方STEAM国际高端少儿英语-来自美国STEAM教育理念</title>
  <link rel="stylesheet" href="/public/static/steam/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/public/static/steam/css/mui.min.css"/>
  <link rel="stylesheet" type="text/css" href="/public/static/steam/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/public/static/steam/css/swiper-3.4.2.min.css"/>
  <link rel="stylesheet" href="/public/static/steam/css/mui.min.css"/>
  <link rel="stylesheet" type="text/css" href="/public/static/steam/css/yd4-2.css"/>
	<!-- bootstrap弹框插件js以及css -->
	<link href="/public/static/steam/bootstrap-toastr/build/toastr.min.css" rel="stylesheet">
	<script src="/public/static/steam/bootstrap-toastr/build/toastr.min.js"></script>



	<!--<link href="/public/static/steam/css/index.css" type="text/css" rel="stylesheet" />
	<script src="/public/static/steam/js/jquery-1.8.3.min.js" type="text/javascript"></script>
	<script src="/public/static/steam/js/common.js" type="text/javascript"></script>
	&lt;!&ndash; bootstrap弹框插件js以及css &ndash;&gt;
	<link href="/public/static/bootstrap-toastr/build/toastr.min.css" rel="stylesheet">
	<script src="/public/static/bootstrap-toastr/build/toastr.min.js"></script>-->

	<!--百度统计代码-->
	<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?cf7cf199a31fe3439fb91c203826b327";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
	</script>
</head>
<body>
  <div class="container">
  	<!--第一部分-->
    <div class="first">
    	<header>
    		<img src="/public/static/steam/images/top1.jpg"/>
    	</header>
		<div  id="form"></div>
    	<section>
    		<div>
    			<h1 style="margin-bottom: 10px">预约试听，即送<span>600元</span>学习礼包</h1>
				<div>
					<img class="gift" src="/public/static/steam/images/gift.png">
					<h2>
						1.1对1语言测试 <br>
						2.新东方幼儿英语幼教课 <br>
						3.新东方在线绘本馆年卡
					</h2>
				</div>
    		</div>
    		<form onSubmit="false">
    			<input type="text" placeholder="请输入孩子姓名" id="stuName"/>
				<select class="mui-select" name="age" id="stuAge">
					<option value="">年龄</option>
					<option value="3">3岁</option>
					<option value="4">4岁</option>
					<option value="5">5岁</option>
					<option value="6">6岁</option>
					<option value="60">6岁以上</option>
				</select>
				<i class="fa fa-caret-down"></i>
				<input type="text" placeholder="请输入手机号码" id="phoneNum"/>
				<div>
					<select class="mui-select" name="city" id="city">
						<!--<option value="0">城市</option>-->
						<option value="武汉">武汉</option>
					</select>
					<i class="fa fa-caret-down left"></i>
					<select class="mui-select" name="school" id="school" style="right: 2px">
						<option value="江岸区">江岸区</option>
						<option value="江汉区">江汉区</option>
						<option value="硚口区">硚口区</option>
						<option value="汉阳区">汉阳区</option>
						<option value="武昌区">武昌区</option>
						<option value="洪山区">洪山区</option>
						<option value="青山区">青山区</option>
						<option value="东西湖区">东西湖区</option>
						<option value="蔡甸区">蔡甸区</option>
						<option value="江夏区">江夏区</option>
						<option value="黄陂区">黄陂区</option>
						<option value="新洲区">新洲区</option>
						<option value="汉南区">汉南区</option>
					</select>
					<i class="fa fa-caret-down right"></i>
				</div>
    		</form>
    		<button id="submit">立即预约</button>
    	</section>
    </div>
	  <div class="videoOut">
		  <!--视频播放插件-->
		  <div class="video">
			  <div class="middle">
				  <div>
					  <h1>STEAM 3-6岁</h1>
					  <h1>幼儿英语启蒙课程</h1>
				  </div>
				  <p class="line"></p>
				  <h2>
					  全球领先的STEAM教育理念 <br>
					  全学科浸入式培养，激发英语学习兴趣 <br>
					  抓住语言敏感期，让孩子领先一步
				  </h2>
			  </div>
			  <div id="mediaplayer"></div>
		  </div>
	  </div>
    <!--第二部分-->
    <div class="second">
    	<div>
    		<h1>我们的优势</h1>
    	</div>
    	<ul class="img-list">
    		<li>
    			<img src="/public/static/steam/images/imgList01.jpg" />
    			<div>
					<span>跟对老师，培养自然更有效</span>
					<p>
						严选双证国际英语教师， <br>
						纯正专业的学科英语教学， <br>
						针对每一个孩子因材施教。 <br>
						严格的教师管理和培训， <br>
						让我们在行业内保持卓越。 <br>
					</p>
           		</div>
    		</li>
    		<li>
    			<img src="/public/static/steam/images/imgList02.jpg" />
    			<div>
            <span>孩子能够吸收的，才是好课程</span>
            <p>
				互动式教具，游戏化教材 <br>
				用孩子喜欢的方式学英语， <br>
				老师与孩子，孩子与孩子， <br>
				通过互相分享与合作沟通， <br>
				英语能力自然提升。 <br>
			</p>
           </div>
    		</li>
    		<li>
    			<img src="/public/static/steam/images/imgList03.jpg" />
    			<div>
            <span>选学校，服务一定要最放心的</span>
            <p>
				操作简单，功能实用。 <br>
				随时查看课堂实况 <br>
				与孩子阶段性的成果报告。 <br>
				还可以收到老师分享的 <br>
				学习资料和课堂回放。 <br>
			</p>
           </div>
    		</li>
    	</ul>
		<a href="#" class="toForm">立即领取600元学习礼包</a>
    </div>
    <!--第三部分-->
    <div class="third">
    	<div>
    		<h1>国际教研机构教材合作开发</h1>
			<img src="/public/static/steam/images/icon.jpg">
    	</div>
    </div>
	  <!--悬浮按钮-->
    <div id="fixed">
    	<a href="#">戳此预约即送600元学习礼包！</a>
    </div>
</div>
<script src="/public/static/steam/js/jquery-1.11.3.min.js"></script>
<script src="/public/static/steam/js/mui.min.js"></script>
<script src="/public/static/steam/js/commonFront.js"></script>
<!--<script src="../../js/common/city.js"></script>-->
<!--<script src="../../js/common/dataSource.js"></script>-->
  <script src="/public/static/steam/js/jwplayer.js"></script>
  <script src="/public/static/steam/js/jwpsrv.js"></script>
  <script>
    <!--video视频播放-->
    jwplayer('mediaplayer').setup({
        'image': 'images/videoImg.jpg',
        'id': 'playerID',
        'width': '100%',
        'aspectratio':'10:6',
        'file': 'http://steamxdf.com//theme/front/yd1/video/wingsScene.mp4'
    });

//	滚动到某个位置下方出现悬浮按钮
$(window).scroll(function(){
	var this_scrollTop = $(this).scrollTop();
	if(this_scrollTop>=1){
		$('#fixed').show();
	}else{
		$('#fixed').hide();
	};
    if(this_scrollTop>=50){
        $('#square').css('visibility','hidden');
    }else{
        $('#square').css('visibility','visible');
    }
})

$(document).ready(function () {
//    获得当前所在地址
    $.getScript('http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js',function(){
        var cityData={
            province:remote_ip_info.province,
            city:remote_ip_info.city
		}
        //      通过city.js获得城市的列表信息
//		var liHtml = "";
//		$.each(city.cityList,function (index,item) {
//		    if(item.cityName.indexOf(cityData.province)>=0||item.cityName.indexOf(cityData.city)>=0){
//                liHtml += "<option value="+item.id+" selected>"+item.cityName+"</option>";
//                for (var j = 0; j < city.getAreaList(index).length; j++) {
//                    $('#school').append('<option value="' + city.getAreaList(index)[j].id + '">' + city.getAreaList(index)[j].areaName + '<\/option>')
//                }
//			}else{
//                liHtml += "<option value="+item.id+">"+item.cityName+"</option>"
//			}
//        });
//		$("#city").append(liHtml);
        for(var i=0;i<city.cityList.length;i++){
        	if (city.cityList[i].cityName.indexOf(cityData.province)>=0||city.cityList[i].cityName.indexOf(cityData.city)>=0){
                $('#city').append('<option value="'+ city.cityList[i].id +'" selected>'+ city.cityList[i].cityName+'<\/option>');
                var cityNum = parseInt($('#city').val());
                for (var j = 0; j < city.getAreaList(cityNum).length; j++) {
                    $('#school').append('<option value="' + city.getAreaList(cityNum)[j].id + '">' + city.getAreaList(cityNum)[j].areaName + '<\/option>')
                }
        	}else {
                $('#city').append('<option value="'+ city.cityList[i].id +'">'+ city.cityList[i].cityName+'<\/option>')
			}
        }
//		     二级联动
        $('#city').change(function () {
            $('#school').empty();
            var cityNum = parseInt($('#city').val());
            for (var j = 0; j < city.getAreaList(cityNum).length; j++) {
                $('#school').append('<option value="' + city.getAreaList(cityNum)[j].id + '">' + city.getAreaList(cityNum)[j].areaName + '<\/option>')
            }
            // 判断二级中心里面的内容是否为空
            if ($('#school>option').length <= 0) {
                $('#school').append('<option value="0">其他<\/option>');
            }
        })
    });

});
//提交表单
$('#submit').click(function(){
    function testPhone(){
        var tel=$('#phoneNum').val();
        if(!(/^1[34578]\d{9}$/).test(tel))
        {
//            alert('请输入有效的手机号码！');
            mui.alert('请输入有效的手机号码','提示您','确定');
            return false;
        }else {
            $.ajax({
                type: 'post',
                url: '/stuUserInfo/save.shtml',
                data: thisData,
                cache: false,
                async: false,
                success: function (data) {
                    if (data.code == 1) {
//                        alert('提交成功！');
//                        提交成功后清空表单
                        mui.alert('班主任会在3天内联系您。','预约成功！','确定');
                        $('input').val('');
                        $('select').val('0');
                    } else {
                        alert(data.message);
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }
    }
    function testNone(){
        if(stuData.stuName=='' || stuData.phoneNum=='' || stuData.age==0 || stuData.cityId==0||stuData.areaId==0){
//            alert("信息填写不完整！");
            mui.alert('请填写完整的信息','提示您','确定',function () {
            });
            return false;
        }else if(true){
            testPhone();
            return true;
        }
    }
    var stuData={
        stuName:$('#stuName').val(),
        phoneNum:$('#phoneNum').val(),
        age:$('#stuAge').val(),
        cityId: $('#city').val(),
        areaId: $('#school').val(),
        dataSourceId: commonFront.hrefObj.sourceName(),//渠道来源id
        dataPlatform: commonFront.hrefObj.sourcePlatform(),//数据来源平台id
        promoteDbCityId :commonFront.hrefObj.sourceCity(),//推广城市id
        webUrl: commonFront.hrefObj.hrefAll//整个链接
    }
    var thisData = jQuery.isPlainObject(stuData) ? stuData : JSON.parse(stuData);
    testNone();
});
</script>

</body>
</html>