<html><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>新东方在线测评系统</title>
    <script>
        if(!Array.indexOf){
            Array.prototype.indexOf = function(obj){
                for(var i=0; i<this.length; i++){
                    if(this[i]==obj){
                        return i;
                    }
                }
                return -1;
            }
        }
    </script>
    <link href="/public/static/tps/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/public/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/public/static/tps/js/jq_cookie/jquery.cookie.js"></script>

    <style>
        .test .opts li {
            padding: 10px 0 0 22px;
        }
    </style>
    <!-- 禁止浏览器回退  -->
    <script type="text/javascript">
        function noBack() {
            window.history.forward();
            setTimeout("noBack()", 500);
        }

        noBack();

        window.onload=noBack;

        window.onpageshow=function(evt) {
            if (evt.persisted) noBack();
        }

        window.onunload=function() {
            void(0);
        }
    </script>

</head>
    <body>
        <div class="header">
            <div class="w1000 cf">
                <a href="#" class="t-logo">
                    <img src="/public/static/tps/img/xdf-1.jpg" alt="新东方">
                </a>
                <div class="t-cities accessType">
                    <!-- 当没有paperSchName，因为不知道显示那个学校，所以不显示 -->
                    <!-- <a href="javascript:;">武汉新东方</a> -->
                </div>
                <div class="t-log accessType">
                </div>
            </div>
        </div>

        <div class="w1000 cf">
            <div class="crump">
                <a href="/gwots/otstest/home/index">首页</a>&gt;新东方数学二年级•寒春分班测
                <span style="color:#ff6c00;margin-left:15px;">（此测评只能测一次）</span>
            </div>
            <div class="wl">
               <form id="testpaper" action = "/index.php/web/Tps/upload_testpaper" method="post">
                   <input type="hidden" name="appointment_id" value="{$id}">
                   <input type="hidden" name="evaluate_paper_id" value="{$evaluate_paper_id}">
                   <input type="hidden" name="allnum" value="{$count}">
                    <div id="paperContainer">


                        {volist name="paper_question" id="vo"  key="k"}
                        {volist name="vo" id="vvo"  key="kk"}
                        {if condition="($vvo.question_type == 1)"}
                        <div class="test page{$k}" style = "display:none;">
                            <div class="serial">
                                <span class="subjectNum" ></span>
                                <em>Q{$vvo.test_paper_num}</em>
                            </div>
                            <div class="stem"><p>{$vvo.question_title}</p></div>
                            <ul class="opts rdo">
                                {volist name="vvo['contents']" id="co"  key="ck"}
                                <li class="item  active" style="cursor:pointer">
                                    <input class="iconfont"  onclick="xuanze.num({$vvo.test_paper_num},1);"   name="wode[{$vvo.paper_point_id}][1][{$vvo.id}]" type = "radio" value = '{if condition="($ck == 1)"}A{elseif condition="($ck == 2)"/}B{elseif condition="($ck == 3)"/}C{elseif condition="($ck == 4)"/}D{elseif condition="($ck == 5)"/}E{/if}'>
                                    <span class="optletter">{if condition="($ck == 1)"}A{elseif condition="($ck == 2)"/}B{elseif condition="($ck == 3)"/}C{elseif condition="($ck == 4)"/}D{elseif condition="($ck == 5)"/}E{/if}.</span>
                                    <div class="optcont"><p>{$co}</p>
                                        <div></div>
                                    </div>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                        {elseif condition="($vvo.question_type == 2)"}
                        <div class="test test-main bdl page{$k} tiankong" point_id ="{$vvo.paper_point_id}"  test_paper_num = "{$vvo.test_paper_num}"  style = "display:none;">
                            <div class="serial">
                                <span class="subjectNum"></span>
                                <em>Q{$vvo.test_paper_num}</em>
                            </div>
                            <div class="stem_blank" >
                                <p>{$vvo.question_title3}</p>
                            </div>
                        </div>

                        {elseif condition="($vvo.question_type == 3)"}

                        <div class="test page{$k}" style = "display:none;">
                            <div class="serial">
                                <span class="subjectNum" ></span>
                                <em>Q{$vvo.test_paper_num}</em>
                            </div>
                            <div class="stem"><p>{$vvo.question_title}</p></div>
                            <ul class="opts rdo">
                                {volist name="vvo['contents']" id="co"  key="ck"}
                                <li class="item  active" style="cursor:pointer">
                                    <input class="iconfont" onclick="xuanze.num({$vvo.test_paper_num},3);"  name="wode[{$vvo.paper_point_id}][3][{$vvo.id}][{$ck}]" type = "checkbox" value ='{if condition="($ck == 1)"}A{elseif condition="($ck == 2)"/}B{elseif condition="($ck == 3)"/}C{elseif condition="($ck == 4)"/}D{elseif condition="($ck == 5)"/}E{/if}'>
                                    <span class="optletter">{if condition="($ck == 1)"}A{elseif condition="($ck == 2)"/}B{elseif condition="($ck == 3)"/}C{elseif condition="($ck == 4)"/}D{elseif condition="($ck == 5)"/}E{/if}.</span>
                                    <div class="optcont"><p>{$co}</p>
                                        <div></div>
                                    </div>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                        {elseif condition="($vvo.question_type == 5)"}

                        <div class="test-main page{$k} " style = "display:none;">
                            <div class="serial">
                                <span class="subjectNum"></span><em>Q{$vvo.test_paper_num}</em>
                            </div>
                            <p></p><p><strong>阅读片断</strong>,<strong>按要求答题。</strong></p>
                            <p>&nbsp;</p>
                            <p>{$vvo.question_title}</p><p></p>
                        </div>


                        {volist name="vvo['children']" id="vvvo"  key="kkk"}
                        <div class="test rd subjectItem page{$k} ss{$vvo.test_paper_num}" style = "display:none;">
                            <div class="bg"></div>
                            <div class="serial">{$vvvo.question_number}</div>
                            <ul class="opts rdo">
                                {volist name="vvvo['contents']" id="vvvvo"  key="kkkk"}
                                <li class="item active">
                                    <input class="iconfont" onclick="xuanze.num({$vvo.test_paper_num},5);" name="wode[{$vvo.paper_point_id}][5][{$vvvo.id}]" type = "radio" value='{if condition="($kkkk == 1)"}A{elseif condition="($kkkk == 2)"/}B{elseif condition="($kkkk == 3)"/}C{elseif condition="($kkkk == 4)"/}D{elseif condition="($kkkk == 5)"/}E{/if}'>
                                    <span class="optletter">{if condition="($kkkk == 1)"}A.{elseif condition="($kkkk == 2)"/}B.{elseif condition="($kkkk == 3)"/}C.{elseif condition="($kkkk == 4)"/}D.{elseif condition="($kkkk == 5)"/}E.{/if}</span>
                                    <div class="optcont"><p>{$vvvvo}</p>
                                        <div></div>
                                    </div>
                                </li>
                                {/volist}

                            </ul>
                        </div>
                        {/volist}

                        {elseif condition="($vvo.question_type == 4)"}
                        <div class="test-main page{$k}" style = "display:none;">
                            <div class="serial">
                                <span class="subjectNum"></span><em>Q{$vvo.test_paper_num}</em>
                            </div>
                            <p></p><p><strong>阅读片断</strong>,<strong>按要求答题。</strong></p>
                            <p>&nbsp;</p>
                            <p>{$vvo.question_title}</p><p></p>
                        </div>


                        {volist name="vvo['children']" id="vvvo"  key="kkk"}
                        <div class="test rd subjectItem page{$k} ss{$vvo.test_paper_num}" style = "display:none;">
                            <div class="bg"></div>
                            <div class="serial">{$vvvo.question_number}</div>
                            <div class="stem"><p>{$vvvo.question_title}</p></div>
                            <ul class="opts rdo">
                                {volist name="vvvo['contents']" id="vvvvo"  key="kkkk"}
                                <li class="item active">
                                    <input class="iconfont" onclick="xuanze.num({$vvo.test_paper_num},4);" name="wode[{$vvo.paper_point_id}][4][{$vvvo.id}]" type = "radio" value = '{if condition="($kkkk == 1)"}A{elseif condition="($kkkk == 2)"/}B{elseif condition="($kkkk == 3)"/}C{elseif condition="($kkkk == 4)"/}D{elseif condition="($kkkk == 5)"/}E{/if}'>
                                    <span class="optletter">{if condition="($kkkk == 1)"}A.{elseif condition="($kkkk == 2)"/}B.{elseif condition="($kkkk == 3)"/}C.{elseif condition="($kkkk == 4)"/}D.{elseif condition="($kkkk == 5)"/}E.{/if}</span>
                                    <div class="optcont"><p>{$vvvvo}</p>
                                        <div></div>
                                    </div>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                        {/volist}

                        {/if}
                        {/volist}
                        {/volist}

                    </div>
                    <div class="pagination">
                        <a href="javascript:void(0);" onclick = testing.prev(1);  class="prev"><span></span>上一页</a>
                        <a href="javascript:void(0);" onclick = testing.next(1); class="next" id="nextBtn"><span></span>下一页</a>
                        <a href="javascript:void(0);" onclick = testing.finish(); ><span></span>完成</a>
                    </div>
               </form>
            </div>
            <div class="wr">
                <div>
                    <div class="test-tool">

                        <div class="countdown">
                            <div class="time">
                                <span id="countDownText">00:01:59</span>
                            </div>
                        </div>

                        <div class="wrapper" style="display: block;">
                            <ul class="test-num" id="fixed-menu">


                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <span id="hid_testID" style="display:none;">4E5A3F64-BC9C-4D2F-8726-BF52BD0D71A4</span>


        <div class="blockUI blockOverlay" style="display:none;z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: default; position: fixed;"></div>
        <div class="blockUI blockMsg blockPage" style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 490px; top: 18px; left: 466.5px; text-align: center; color: rgb(0, 0, 0); border: 0px; background-color: rgb(255, 255, 255); cursor: default; border-radius: 5px;">

            <div id="pause" style="display:none;" class="pause">
                <img src="/public/static/tps/img/pulse.jpg" width="160">
                <div class="btns">
                    <a href="javascript:void(0);" class="btn btn-o closeWin">继续</a>
                </div>
            </div>

            <!-- 第一题提示  -->
            <div id="firstTips" style="display:none;" class="errortip">
                <img src="/public/static/tps/img/error.jpg" width="160">
                <p>已经是第一题了</p>
                <div class="btns">
                    <a href="javascript:void(0);" onclick = testing.close(1); class="btn btn-o closeWin">关闭</a>
                </div>
            </div>

            <!-- 最后一题提示  -->
            <div id="lastTips" style="display:none;" class="errortip">
                <img src="/public/static/tps/img/error.jpg" width="160">
                <p>已经是最后一题了</p>
                <div class="btns">
                    <a href="javascript:void(0);" onclick = testing.close(2); class="btn btn-o closeWin">关闭</a>
                </div>
            </div>

            <!-- 完成测评提示 -->
            <div id="finishTips" style="display:none;" class="errortip">
                <img src="/public/static/tps/img/wenhao.jpg" width="160">
                <p>是否提交测评?</p>
                <div class="btns">
                    <a href="javascript:;" class="btn btn-o" onclick="testing.finish();">确定</a>
                    <a href="javascript:void(0);" onclick = "testing.close(3);" class="btn btn-oe closeWin">取消</a>
                </div>
            </div>


            <!-- 测评时间到  -->
            <div id="timeTips" style="display:none;" class="errortip">
                <img src="/public/static/tps/img/submit.jpg" width="160">
                <p>测评时间到,已自动交卷</p>
                <div class="btns">
                    <a href="javascript:;" onclick = "testing.close(4);" class="btn btn-o closeWin">确定</a>
                </div>
            </div>


            <!-- 是否继续未完成的测试 -->
            <div id="conTips" style="display:none;" class="errortip">
                <img src="/public/static/tps/img/error.jpg" width="160">
                <p>您有未完成的测评,请继续作答</p>
                <div class="btns">
                    <a href="javascript:;" class="btn btn-o" onclick="testing.conTest();">继续</a>
                    <!--
                    <a href="javascript:;" class="btn btn-oe closeWin" onclick="testing.newTest();">重测</a>
                    -->
                </div>
            </div>

        </div>
    </body>
</html>

<script>
    //停掉计时器
    var timecan = null;
    var pageall = {$pageall};
    //获取预约id
    var appointment_id = {$id};
    //考试测评时间
    var paperTestTime = '';

    //获取考点时间
    var time_sy = $.cookie('paperTestTime_'+appointment_id);
    var time_allow = {$time_allow};
    $(function(){
        //判断是否为空时间
        $('.page1').css('display','block');
        var count = {$count};
        var str = '';
        for(n=1;n<count+1;n++){
            str += '<li class ="yanse'+n+'" title="'+n+'" >'+n+'</li>';
        }
        $('#fixed-menu').append(str);

        if(time_sy != 'NaN' && time_sy != '' && time_sy != undefined){
            //console.log(321);
            $("#countDownText").text(formatSeconds(time_sy));
            paperTestTime = parseInt(time_sy);
        }else{
            //console.log(123);
            $("#countDownText").text(formatSeconds(time_allow));
            paperTestTime = parseInt(time_allow);
        }
        timer.countDown();
    })

    //计时器
    var timer = {

        timess : 1,
        /**
         * 继续测试
         */
        conTest:function(){
            testing.countDown();
            $.unblockUI();
        },

        countDown : function() {
            if (paperTestTime > 0) {
                timecan = setInterval(function () {
                    paperTestTime = paperTestTime - 1;
                    $("#countDownText").text(formatSeconds(paperTestTime));
                    //以预约场次作为cookie的判断
                    $.cookie('paperTestTime_' + appointment_id, paperTestTime, {expires: 30});
                    if (paperTestTime < 1) {
                        clearInterval(timecan);

                        //fix 对于测试时间到没有完成的测评自动提交填空题答案
                        $('.blockUI').css('display', 'block');
                        $('#timeTips').css('display', 'block');
                    }
                }, 1000);

            }
        }

    }

    //时间转换戳转化
    function  formatSeconds(value){
        var theTime = parseInt(value);// 秒
        var theTime1 = 0;// 分
        var theTime2 = 0;// 小时
        if(theTime > 60) {
            theTime1 = parseInt(theTime/60);
            theTime = parseInt(theTime%60);
            if(theTime1 > 60) {
                theTime2 = parseInt(theTime1/60);
                theTime1 = parseInt(theTime1%60);
            }
        }
        var result = "";
        if(theTime>=10){
            result = ""+parseInt(theTime);
        }else{
            result = "0"+parseInt(theTime);
        }
        if(theTime1 >= 10){
            result = ""+parseInt(theTime1)+":"+result;
        }else{
            result = "0"+parseInt(theTime1)+":"+result;
        }
        if(theTime2 >= 10){
            result = ""+parseInt(theTime2)+":"+result;
        }else{
            result = "0"+parseInt(theTime2)+":"+result;
        }
        return result;
    }


    var testing = {
        //上一页
        prev: function (id) {
            if(id == 1){
                $('.blockUI').css('display','block');
                $('#firstTips').css('display','block');
            }else if(id>1){
                var ss = id - 1;
                $('.prev').attr('onclick','testing.prev('+ss+');');
                $('.next').attr('onclick','testing.next('+ss+');');
                $('.page'+id).css('display','none');
                $('.page'+ss).css('display','block');
                $('.next').html('<span></span>下一页');
            }
        },

        //下一页
        next: function (id) {
            var ss = id + 1;
            if(pageall == ss){
                $('.prev').attr('onclick','testing.prev('+ss+');');
                $('.next').attr('onclick','testing.finishs();');
                $('.next').html('<span></span>完成');
            }else{
                $('.prev').attr('onclick','testing.prev('+ss+');');
                $('.next').attr('onclick','testing.next('+ss+');');
            }
            $('.page'+id).css('display','none');
            $('.page'+ss).css('display','block');

        },

        //关闭弹出层
        close: function (id) {
            if(id == 1){
                $('#firstTips').css('display','none');
            }else if(id == 2){
                $('#lastTips').css('display','none');
            }else if(id == 3){
                $('#finishTips').css('display','none');
            }else if(id == 4){
                $('#timeTips').css('display','none');
            }
            $('.blockUI').css('display','none');
        },

        //完成题目
        finishs: function () {

            $('.blockUI').css('display','block');
            $('#finishTips').css('display','block');
        },

        //提交题目  完成题目  获取题目信息
        finish: function () {
            var str = '';
            $('#finishTips').css('display','none');
            $('.blockUI').css('display','none');
            //使填空题能够提交
            $('.tiankong').each(function(n,obj){
                var point_id = $(this).attr('point_id');
                //var test_paper_num = $(obj).attr('test_paper_num');
                $(obj).find('.stem_blank .tkxz').each(function(nn,objj){
                    var th = $(objj).attr('th');
                    var val = $(objj).val();
                    str +='<input type="hidden" name="wode['+point_id+'][2]['+th+']['+nn+']" value = "'+val+'">';
                })

            })
            $('#testpaper').append(str);
            //var subdata =
            $.ajax({
                type: "get",
                dataType: "json",
                url: "/index.php/web/Tps/upload_testpaper",
                data: $('#testpaper').serialize(),
                success: function (data) {

                  //  alert('123');
                },
            });
        },

    }

    //查看做了哪些题目
    var xuanze = {
        num: function (id,type) {
            if(type == 1){
                $('.yanse'+id).addClass('active');
            }else if(type == 3){
                $('.yanse'+id).addClass('active');
             //完型填空和阅读理解
            }else if(type == 4 || type == 5){
               var length = $('.ss'+id).length;
               var x_length = $('.ss'+id+' .iconfont:checked').length;
               if(length == x_length){
                   $('.yanse'+id).addClass('active');
               }
            //填空题
            }else if(type == 2){
                var kk = 2;
                var tk = 0;
                $('.tiankong'+id).each(function(){
                    var val = $(this).val();
                    if(val == ''){
                        kk =1;
                        return false;
                    }
                    tk = $(this).parents('.tiankong').attr('test_paper_num');
                })

                if(kk ==2){
                    $('.yanse'+tk).addClass('active');
                }else{
                    $('.yanse'+tk).removeClass('active');
                }
            }
        },
    }



</script>