<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新东方武汉教研平台</title>
    <meta name="keywords" content="新东方武汉教研平台">
    <meta name="description" content="新东方武汉教研平台">
    <link href="/thinkphp5/public/static/tps/css/yjy.css" rel="stylesheet" type="text/css" />
    <link href="/thinkphp5/public/static/tps/css/yjy1.css" rel="stylesheet" type="text/css" />

    <!--<link href="/public/static/tps/css/monthPicker.css" rel="stylesheet" type="text/css" />-->
    <script type="text/javascript" src="/thinkphp5/public/static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<!--头部-->
<div class="hd-section">
    <div class="cf">
        <h2 class="tit-1 l">
            <span class="hd-gb"><a class="hd-back" href="index"><i class="iconfont"></i>返回组卷中心</a></span>
        </h2>
    </div>
</div>
<!--中间-->
<div class="mid-section">
    <div class="mid-wrap">
        <!--左-->
        <div class="mc-p mc-1 active">
            <div class="navi">
                <a href="#" class="active"><i class="ico ico-2"></i><em>测评信息</em></a>
            </div>
            <span id="es-btn" class="active"></span>
        </div>
        <!--右-->
        <div class="mc-p mc-7  active">
            <div class="boundary"></div>
            <form id="gwcp_qform" onsubmit="return false;">
            <dl class="hd-info">

                <dd id="errorinfo" style="display:none;">
                    <div class="error-tips">
                        <i class="iconfont"></i>
                        <span id="errorinfotip">错误信息显示</span>
                    </div>
                </dd>
                <input type="hidden" name="edit_name" value="叶建宇">
                <input  name = "evaluate_id" type="hidden" value="{$evaluate_id}">
                <dt class="testoption" style="display: block;">测评学段、年级、学科</dt>
                <dd class="cf testoption" style="display:block;">

                    <div id="paperStage" class="selt-box  " style="width: 70px;">
                        <input type="text" name="xueduan" valuename="" value="" class="validate[required]" style="height:0px;border:0px;width:180px;position:absolute;right:0;top:0;">
                        <span class="selt-txt ft" title="学段">学段</span>

                        <i class="iconfont" onclick = "tt(this)"></i>
                        <ul class="opt" style="display: none;">
                            <li onclick = "ss(this)">
                                <a href="javascript:void(0);"  svalue="" title="学段" class="ft">学段</a>
                            </li>
                            {volist name="paper_class" id="vo"  key="k"}

                            <li onclick = "ss(this,2)">
                                <a href="javascript:void(0);"  svalue="{$vo.id}" title="{$vo.name}">{$vo.name}</a>
                            </li>

                            {/volist}
                        </ul>
                    </div>

                    <div id="gwcpgrade" class="l">
                        <div id="paperGrade" class="selt-box  " style="width: 70px;">
                            <input type="hidden" name="nianji" value="">
                            <span class="selt-txt ft" id = "nianji1" title="年级">年级</span>
                            <i class="iconfont" onclick = "tt(this)"></i>
                            <ul class="opt" id="nianji" style="display: none;">

                            </ul>
                        </div>
                    </div>

                    <div id="paperSubject" class="selt-box  " style="width: 70px;">
                        <input type="text" name="xueke" valuename="" value="" class="validate[required]" style="height:0px;border:0px;width:180px;position:absolute;right:0;top:0;">
                        <span class="selt-txt ft" title="学科">学科</span>
                        <i class="iconfont" onclick = "tt(this)"></i>
                        <ul class="opt" style="display: none;">
                            <li onclick = "ss(this)">
                                <a href="javascript:void(0);" svalue="" title="学科" class="ft">学科</a>
                            </li>

                            {volist name="paper_class1" id="vo"  key="k"}
                            <li onclick = "ss(this)">
                                <a href="javascript:void(0);" svalue="{$vo.id}" title="{$vo.name}">{$vo.name}</a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    <em class="zx-m" style="margin-left:2px;color:red;">*</em>
                </dd>

                <dt>测评名称</dt>
                <dd>
                    <input id="paper_name" name = "paper_name" type="text" class="hd-ipt" value="">
                    <em class="zx-m" style="margin-left:2px;color:red;">*</em>
                </dd>

                <dt>描述信息</dt>
                <dd class="cf">
                    <textarea id="paperMemo" name="miaoshu" rows="" cols="" maxlength="1000"></textarea>
                </dd>

                <dd class="bn">
                    <button onclick="savePaper()" class="btn btn-y">下一步</button>
                </dd>
            </dl>
            </form>
        </div>
    </div>
</div>
<!--底部-->
<div class="ft-section">
    <!--Copyright 2011-2016 Neworiental Corporation, All Rights Reserved-->
    测评试卷添加
</div>
<div id="cli_dialog_div"></div>
</body>
</html>
<script>

    function tt(obj){
        var nex = obj.nextElementSibling;
        $('.selt-box .opt').css('display','none');
        nex.style.setProperty('display','block');
    }
    //选择搜索条件
    function ss(obj,type){
        var parent = obj.parentNode;
        parent.style.setProperty('display','none');
        var ss = parent.previousElementSibling.previousElementSibling;
        var sss = parent.previousElementSibling.previousElementSibling.previousElementSibling;
        ss.innerHTML = $(obj).children("a").text();
        $(ss).attr('title',$(obj).children("a").text());
        $(sss).attr('value',$(obj).children("a").attr("svalue"));
        if(type == 2){
            var zhi = $(obj).children("a").attr('svalue');
            $.ajax({
                type: "get",
                dataType: "json",
                url: "get_paper_children",
                data: {'id':zhi},
                success: function (data) {
                    if(data){
                        var ss = '<li onclick = "ss(this)"><a href="javascript:void(0);"  svalue="" title="学段" class="ft">学段</a></li>';

                        for(var i = 0;i < data.length;i++){
                            ss +='<li onclick = "ss(this)"><a href="javascript:void(0);"  svalue="'+data[i].id+'" title="">'+data[i].name+'</a></li>';
                        }
                        $('#nianji1').html('年级');
                        $('#nianji1').attr('title','年级');
                        $("input[name='nianji']").val('');
                        $('#nianji').html(ss);
                    }
                },
            });
        }
    }

    //保存试卷
    function savePaper(){

        var evaluate_id = $("input[name='evaluate_id']").val();
        if(evaluate_id ==''){
            alert('试卷添加错误请重新添加');return false;
        }
        var xueduan = $("input[name='xueduan']").val();
        var nianji = $("input[name='nianji']").val();
        var xueke = $("input[name='xueke']").val();
        var paper_name = $("input[name='paper_name']").val();
        if(xueduan == '' || nianji=='' || xueke==''  || paper_name==''){
            alert('*必填');return false;
        }

        var search_tj = $('#gwcp_qform').serialize();
        $.ajax({
            type: "get",
            dataType: "json",
            url: "add_ep",
            data: search_tj,
            success: function (data) {         
                    if(data){
                        window.location.href ="/thinkphp5/tps.php/index/paper/edit_all_paper?evaluate_paper_id="+data.id+"&souseid="+data.souseid;
                    }else{
                        alert('添加失败！');
                    }
            },
        });



    }
</script>