<html xmlns="http://www.w3.org/1999/xhtml"><head lang="en"><title>
    新东方通行证 忘记密码
</title><meta charset="UTF-8"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"><meta name="format-detection" content="telephone=no"><meta name="screen-orientation" content="portrait">
    <!-- uc强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <link rel="stylesheet" href="/public/static/tps/css/student_login/style.css?v=1">


</head>
<body>

<form name="form1" method="post" action="./ForgetPwd.aspx" id="form1">
    <div>
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="nMxsrOwlqW8JK8QdC6j7foE98bfx6JNC3gJknugeTkxYGsDz4wHHMuwFwuS+tDcmEPFrG7wTiZJMEzp/lPPFp4GG3nsoJVYzQU6hmB8KLQwzPsMAc5YKfNcSYog=">
    </div>

    <div>

        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="B8B017DC">
    </div>

    <!--nav begin-->
    <div class="m-nav2" style="">
        <h2>新东方通行证 忘记密码</h2>
        <div class="m-nav2-back">
            <a href="javascript:;" id="riaGoBack"><i></i></a>
        </div>
        <div class="m-nav2-action"></div>
    </div>
    <div class="m-nav2-extend" style="">&nbsp;</div>
    <script type="text/javascript">

        // 返回上一页
        $("#riaGoBack").click(function (event) {
            window.history.go(-1);
            event.preventDefault();
            event.stopPropagation();
        });

        // 在微信中干掉导航
        if (navigator.userAgent.indexOf('MicroMessenger') > -1) {
            $(".m-nav2,.m-nav2-extend").remove();
        }
    </script>
    <!--nav end-->

    <div class="p139-main">

        <div class="p139-input-wrap">

            <span id="txtUserIcon" class="icoError"></span><span class="p139-error-tip" id="txtUserTip">请输入手机/邮箱</span>

            <div class="p139-input-group p139-input-bottom">
                <input name="txtUser" type="text" maxlength="50" id="txtUser" class="p139-input" placeholder="请输入手机/邮箱">
            </div>

            <div id="trVCode" class="p139-input-group p139-input-bottom p139-input-captcha" style="">
                <input name="txtVCode" type="text" maxlength="5" id="txtVCode" class="p139-input" placeholder="请输入验证码">
                <span class="captcha-img">
                        <img id="Image1" class="x-vcode-img" onclick="RefreshImage()" title="看不清楚？换张图片" src="/Shared/ValidateCode.aspx?type=5&amp;abc=0.1713660349671624" align="middle" style="border-width:0px;cursor: pointer; vertical-align: top; width: 54px; height: 32px;">
                    </span>
            </div>

            <div class="p139-input-group  p139-captcha-text p139-input-bottom">

                <input name="txtSmsCode" type="text" maxlength="5" id="txtSmsCode" class="p139-input" placeholder="请输入效验码">

                <input class="p139-verification" onclick="clickGetSmsEmailCode()" type="button" value="获取验证码">

            </div>

            <div class="p139-input-group p139-input-captcha">
                <input name="txtPwd" type="password" maxlength="20" id="txtPwd" class="p139-input" placeholder="请输入新密码至少6位">
            </div>

        </div>

        <div class="p139-txt-tips">密码由6~20位字母数字或符号组成</div>

        <div class="p139-btn-wrap">
            <a class="p139-btn" id="btnNextTip" href="javascript:clickbtnNext();">重置密码</a>
        </div>
        <div class="p139-option">
            <span class="p139-option-left"></span>
            <span class="p139-option-right"></span>
        </div>

    </div>

    <div style="display: none;">
        <input type="submit" name="btnNext" value="下一步" id="btnNext">


        <input name="btnSendSmsEmailCode" type="button" id="btnSendSmsEmailCode" value="获取短信码邮箱码">
    </div>

    <script type="text/javascript">
        function RefreshImage() {
            RefreshImageById("Image1");
        }

        //function clickGetSmsCode() {
        //    $("#btnSendSmsCode").click();
        //}

        function clickGetSmsEmailCode() {
            $("#btnSendSmsEmailCode").click();
        }

        function clickbtnNext() {
            if (Verify())
                $("#btnNext").click();
        }
    </script>

    <script type="text/javascript">
        var enableStat = "0"; //ga统计js全局变量
    </script>


</form>


<div id="cli_dialog_div"></div></body></html>