<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <title>短信登录</title>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"><meta name="format-detection" content="telephone=no"><meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <link rel="stylesheet" href="/thinkphp5/public/static/tps/css/student_login/style.css?v=1">
</head>

<body>
<form name="form1" method="post" action="/thinkphp5/index.php/web/Tpsstudent/login_post" id="form1">

    <!--nav begin-->
    <div class="m-nav2" style="">
        <h2>短信登录</h2>
        <div class="m-nav2-back">
            <a href="javascript:;" id="riaGoBack"><i></i></a>
        </div>
        <div class="m-nav2-action"></div>
    </div>
    <div class="m-nav2-extend" style="">&nbsp;</div>
    <script type="text/javascript" src="/thinkphp5/public/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

        // 返回上一页
        $("#riaGoBack").click(function (event) {
            window.history.go(-1);
            event.preventDefault();
            event.stopPropagation();
        });

        // 在微信中干掉导航
        if (navigator.userAgent.indexOf('MicroMessenger') > -1) {
            $(".m-nav2,.m-nav2-extend").remove();
        }
    </script>
    <!--nav end-->

    <div class="p139-main">

        <div class="p139-input-wrap">
            <span id="txtUserIcon"></span>
            <span class="p139-error-tip" id="txtUserTip"></span>
            <div class="p139-input-group p139-input-bottom">
                <input name="tel" type="text" maxlength="11" id="txtUser" class="p139-input" placeholder="请输入手机号">
            </div>

            <div id="trVCode" class="p139-input-group p139-input-bottom p139-input-captcha" style="">
                <input name="yzm" type="text" maxlength="5" id="txtVCode" class="p139-input" placeholder="请输入验证码">
                <span class="captcha-img">
                        <img id="Image1" onclick="this.src=this.src+'?'" class="x-vcode-img"  title="看不清楚？换张图片" src="/thinkphp5/tps.php/web/Tpsstudent/show_captcha" align="middle" style="border-width:0px;cursor: pointer; vertical-align: top; width: 54px; height: 32px;">
                </span>
            </div>

            <div class="p139-input-group p139-input-bottom  p139-captcha-text">
                <input name="txtSmsCode" type="text" maxlength="5" id="txtSmsCode" class="p139-input" placeholder="请输入短信码">
                <a class="p139-button-captcha p139-button-captcha-false" id="" href="javascript:;">
                    <span class="disabled-false0" onclick="clickGetSmsCode()">获取短信码</span>
                </a>
            </div>
        </div>

        <div class="p139-txt-tips p139-txt-tips-fz12">新手机首次登录会自动创建账号</div>

        <div class="p139-btn-wrap">
            <a class="p139-btn" id="btnLogin">登录</a>
        </div>
        <div class="p139-option">
            <span class="p139-option-left" style="width:35%;"><a href="ls_problem" target="_blank">遇到问题？</a></span>
            <span class="p139-option-right" style="width:65%;"><a href="ls_login">老生登录</a></span>
        </div>
        <div class="p139-btn2-wrap">
            <a class="p139-btn2" href="register">新生注册</a>
        </div>
    </div>




</form>
</body>
</html>

<script>

    $('#btnLogin').click(function(){

        var formdata = $('#form1').serialize();
        formdata = formdata +'&dlfs=dx';
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/thinkphp5/tps.php/web/Tpsstudent/duanxin_login_post",
            data:formdata ,
            success: function (data) {
                //alert(data.return_url);
                if(data.error == 0){
                    alert(data.error_info)
                }else if(data.error == 1){
                    if(data.return_url == null || data.return_url == ''){
                        window.location.href = "/thinkphp5/tps.php/web/Tpsstudentinfo/student_index";
                    }else{
                        window.location.href = data.return_url;
                    }
                }
            }
        });
    })




</script>
